{% extends 'user/base.html' %} {% block title %} ALPR - {{data['title']}} {%
endblock %} {% block content %}
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-row flex-column-fluid">
    <!--begin::Aside-->
    {% include 'user/aside.html' %}
    <!--end::Aside-->
    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
      <!--begin::Header-->
      {% include 'user/header.html' %}
      <!--end::Header-->
      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Container-->
        <div class="container" id="kt_content_container">
          <div class="card mb-5 mb-xl-10">
            <div class="card-body pt-0 pb-0">
              <!--begin::Navs-->
              <ul
                class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder"
              >
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                  <a
                    class="nav-link text-active-primary ms-0 me-10 py-5"
                    href="{{url_for('user.detail_app', id = data.app_id)}}"
                    >License Plate</a
                  >
                </li>
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <!-- <li class="nav-item mt-2">
                  <a
                    class="nav-link text-active-primary ms-0 me-10 py-5"
                    href="{{url_for('user.detail_api', id = data.app_id)}}"
                    >API</a
                  >
                </li> -->
                <!--end::Nav item-->

                <li class="nav-item mt-2">
                  <a
                    class="nav-link text-active-primary ms-0 me-10 py-5 active"
                    href="{{url_for('user.plate_color', id = data.app_id)}}"
                    >Plate Color</a
                  >
                </li>

                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                  <a
                    class="nav-link text-active-primary ms-0 me-10 py-5"
                    href="{{url_for('user.setting_app', id = data.app_id)}}"
                    >Settings</a
                  >
                </li>
                <!--end::Nav item-->
              </ul>
              <!--begin::Navs-->
            </div>
          </div>
          <div class="card mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div
              class="card-header border-0 cursor-pointer"
              data-bs-target="#kt_account_profile_details"
              aria-expanded="true"
              aria-controls="kt_account_profile_details"
            >
              <!--begin::Card title-->
              <div class="card-title m-0">
                <h3 class="fw-bolder m-0">Plate Color Detection</h3>
              </div>
              <!--end::Card title-->
              <div class="card-toolbar">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#kt_modal_add_plate_color"
                >
                  <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                  <span class="svg-icon svg-icon-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                    >
                      <rect
                        opacity="0.5"
                        x="11.364"
                        y="20.364"
                        width="16"
                        height="2"
                        rx="1"
                        transform="rotate(-90 11.364 20.364)"
                        fill="black"
                      ></rect>
                      <rect
                        x="4.36396"
                        y="11.364"
                        width="16"
                        height="2"
                        rx="1"
                        fill="black"
                      ></rect>
                    </svg>
                  </span>
                  <!--end::Svg Icon-->Upload Image
                </button>
              </div>
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div class="card-body">
              <table
                id="kt_datatable_example_1"
                class="table table-row-bordered gy-5"
              >
                <thead>
                  <tr class="fw-bold fs-6 text-muted">
                    <th>No</th>
                    <th>Full Image</th>
                    <th>Plate Area</th>
                    <th>License Color</th>
                    <th>Created At</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in data['p_color'] %}
                  <tr>
                    <td>{{loop.index}}</td>
                    <td>
                      <div class="pop">
                        <img
                          class="rounded"
                          src="/{{item.before_crop}}"
                          alt="..."
                          style="max-width: 150px"
                        />
                      </div>
                    </td>
                    <td>
                      <img
                        src="/{{item.file}}"
                        alt="..."
                        style="max-width: 150px"
                      />
                    </td>
                    <td>
                      <span
                        class="btn btn-sm text-light"
                        style="background-color:{{item.plate_color}}"
                      >
                        {{item.plate_color}}
                      </span>
                    </td>
                    <td>{{item.created_at}}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-sm btn-icon btn-danger btn-active-light-danger"
                        onclick="hapus('{{item.id}}')"
                      >
                        <!--begin::Svg Icon | path: icons/duotune/coding/cod007.svg-->
                        <span class="svg-icon svg-icon-primary svg-icon-2x"
                          ><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo2/dist/../src/media/svg/icons/Home/Trash.svg--><svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="24px"
                            height="24px"
                            viewBox="0 0 24 24"
                            version="1.1"
                          >
                            <g
                              stroke="none"
                              stroke-width="1"
                              fill="none"
                              fill-rule="evenodd"
                            >
                              <rect x="0" y="0" width="24" height="24" />
                              <path
                                d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z"
                                fill="#000000"
                                fill-rule="nonzero"
                              />
                              <path
                                d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                fill="#000000"
                                opacity="0.3"
                              />
                            </g></svg
                          ><!--end::Svg Icon--></span
                        >
                        <!--end::Svg Icon-->
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>No</th>
                    <th>Full Image</th>
                    <th>Plate Area</th>
                    <th>License Color</th>
                    <th>Created At</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!--end::Content-->
          </div>
        </div>
      </div>
      <!--end::Wrapper-->
    </div>
  </div>

  <div id="imagemodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" id="kt_modal_edit_plate">
          <!--begin::Modal title-->
          <h4 class="fw-bolder">Preview Image</h4>
          <!--end::Modal title-->
          <!--begin::Close-->
          <div
            class="btn btn-icon btn-sm btn-active-icon-primary"
            data-bs-dismiss="modal"
          >
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <rect
                  opacity="0.5"
                  x="6"
                  y="17.3137"
                  width="16"
                  height="2"
                  rx="1"
                  transform="rotate(-45 6 17.3137)"
                  fill="black"
                ></rect>
                <rect
                  x="7.41422"
                  y="6"
                  width="16"
                  height="2"
                  rx="1"
                  transform="rotate(45 7.41422 6)"
                  fill="black"
                ></rect>
              </svg>
            </span>
            <!--end::Svg Icon-->
          </div>
          <!--end::Close-->
        </div>
        <div class="modal-body">
          <img
            class="imagepreview"
            src=""
            alt="Image preview"
            style="width: 100%"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="kt_modal_add_plate_color"
    tabindex="-1"
    style="display: none"
    aria-hidden="true"
  >
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header" id="kt_modal_edit_plate">
          <!--begin::Modal title-->
          <h4 class="fw-bolder">Detect Plate Color</h4>
          <!--end::Modal title-->
          <!--begin::Close-->
          <div
            class="btn btn-icon btn-sm btn-active-icon-primary"
            data-bs-dismiss="modal"
          >
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <rect
                  opacity="0.5"
                  x="6"
                  y="17.3137"
                  width="16"
                  height="2"
                  rx="1"
                  transform="rotate(-45 6 17.3137)"
                  fill="black"
                ></rect>
                <rect
                  x="7.41422"
                  y="6"
                  width="16"
                  height="2"
                  rx="1"
                  transform="rotate(45 7.41422 6)"
                  fill="black"
                ></rect>
              </svg>
            </span>
            <!--end::Svg Icon-->
          </div>
          <!--end::Close-->
        </div>
        <!--end::Modal header-->
        <!--begin::Modal body-->
        <div class="modal-body scroll-y">
          <!--begin::Scroll-->
          <div
            class="d-flex flex-column scroll-y me-n7 pe-7"
            id="kt_modal_add_user_scroll"
            data-kt-scroll="true"
            data-kt-scroll-activate="{default: false, lg: true}"
            data-kt-scroll-max-height="auto"
            data-kt-scroll-dependencies="#kt_modal_add_user_header"
            data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
            data-kt-scroll-offset="300px"
          >
            <!--begin::Input group-->
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">
                  <h4>Upload Image</h4>
                  <form>
                    <div class="form-group">
                      <label for="file">Select an image:</label>
                      <input
                        type="file"
                        class="form-control"
                        id="file"
                        name="imageFile"
                        accept="image/*"
                      />
                    </div>
                  </form>
                </div>
                <div class="col-6">
                  <div class="preview-container">
                    <div id="preview" class="no-preview">No preview</div>
                  </div>
                </div>
              </div>
            </div>
            <!--end::Input group-->
          </div>
          <!--end::Scroll-->
          <!--begin::Actions-->
          <div class="text-center pt-15">
            <button
              type="reset"
              class="btn btn-light me-3"
              data-bs-dismiss="modal"
            >
              Discard
            </button>
            <button onclick="detect()" class="btn btn-primary" id="detect">
              Detect
            </button>
          </div>
          <!--end::Actions-->
        </div>
        <!--end::Modal body-->
      </div>
      <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
  </div>
  {% endblock %}

  <!--begin::Page Custom Javascript(used by this page)-->
  {% block script %}
  <script>
    function hapus(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
      }).then(function (result) {
        if (result.isConfirmed) {
          // Check if the user clicked "Yes"
          $.ajax({
            url: '{{ url_for("user.crud_plate_color") }}',
            type: "DELETE",
            data: { id: id },
            success: function (response) {
              if (response.status == 1) {
                Swal.fire("Deleted!", "Data has been deleted.", "success");
                location.reload();
              } else {
                Swal.fire("Error!", "Failed to delete data.", "error");
              }
            },
            error: function () {
              Swal.fire(
                "Error!",
                "An error occurred while deleting the data.",
                "error"
              );
            },
          });
        }
      });
    }

    function detect() {
      var fd = new FormData();
      var files = $("#file")[0].files;

      // Check file selected or not
      if (files.length > 0) {
        fd.append("imageFile", files[0]);
        console.log(fd);
        Swal.fire({
          title: "Are you sure?",
          text: "Detect Plate Color?",
          icon: "warning",
          showCancelButton: true,
          showLoaderOnConfirm: true,
          confirmButtonText: "Yes,",
        }).then(function (result) {
          Swal.showLoading();
          $.ajax({
            url: '{{url_for("plate_color.app", token = data.token)}}',
            type: "post",
            data: fd,
            contentType: false,
            processData: false,
            success: function (response) {
              if (response.status == 1) {
                Swal.fire("Sucess!", response.license, "success").then(
                  function () {
                    location.reload();
                  }
                );
              } else {
                Swal.fire("Error!", response.message, "error");
              }
            },
          });
        });
      } else {
        Swal.fire({
          title: "Error!",
          text: "Silahkan pilih file terlebih dahulu.",
          icon: "error",
          confirmButtonText: "Ok",
        });
      }
    }

    $("#kt_datatable_example_1").DataTable({
      filter: true,
      deferRender: true,
      searching: true,
    });

    jQuery(document).ready(function ($) {
      // Add more attributes to the img.pop
      $(".pop").attr("data-toggle", "tooltip");
      $(".pop").attr("data-placement", "top");
      $(".pop").attr("title", "Click to see a bigger photo.");

      // Current viewport size
      var wW = $(window).width() * 0.9;
      var wH = $(window).height() * 0.9; // Max display

      $('[data-toggle="tooltip"]').tooltip();

      $(".pop").on("click", function () {
        var img = $(this).find("img")[0];
        console.log("Image element:", img);

        if (img) {
          // Ensure the image is fully loaded before accessing its properties
          if (img.complete) {
            showImageModal(img);
          } else {
            $(img).on("load", function () {
              showImageModal(img);
            });
          }
        } else {
          console.error("Image element not found within .pop");
        }
      });

      function showImageModal(img) {
        console.log("Showing modal for image:", img.src);

        // Real size of the photo
        var rW = img.naturalWidth;
        var rH = img.naturalHeight;

        console.log("Image natural dimensions:", rW, rH);

        var cW, cH; // Photo's will be set to this size!
        cW = rW;
        cH = rH; // Initial setting

        if (rH < wH) {
          if (rW > wW) {
            cW = wW;
            cH = (wW * rH) / rW;
          }
        } else {
          if (rW < wW) {
            cH = wH;
            cW = (wH * rW) / rH;
          } else if ((wW * rH) / rW < wH) {
            cW = wW;
            cH = (wW * rH) / rW;
          } else {
            cH = wH;
            cW = (wH * rW) / rH;
          }
        }

        console.log("Calculated dimensions:", cW, cH);

        // Show max photo's size if it's smaller than the current viewport. Otherwise, it scales the photo to the size of the viewport.
        $(".modal-dialog").css({ width: cW + "px", height: cH + "px" });

        $(".imagepreview").attr("src", $(img).attr("src"));
        $("#imagemodal").modal("show");
      }
    });

    document
      .getElementById("file")
      .addEventListener("change", function (event) {
        var file = event.target.files[0];
        var previewContainer = document.getElementById("preview");

        if (file) {
          var reader = new FileReader();
          reader.onload = function (e) {
            var img = new Image();
            img.src = e.target.result;
            img.alt = "Image preview";
            img.style.maxWidth = "100%";
            img.style.maxHeight = "300px";

            // Clear the previous content and show the new image
            previewContainer.innerHTML = "";
            previewContainer.appendChild(img);
          };
          reader.readAsDataURL(file);
        } else {
          // Show a default "No preview" message
          previewContainer.innerHTML = "No preview";
        }
      });
  </script>
  {% endblock %}
  <!--end::Page Custom Javascript-->
</div>
